.dayContainer {
  width: calc(250px / 7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  color: #333333;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
  &:hover {
    background-color: #f1f1f1;
    color: #333333;
  }
}

.default {
}

.selected {
  background-color: #2f80ed;
  color: white;
}

.disabled {
  color: #aaaaaa;
}

.rangeEnd {
  background-color: #2f80ed;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rangeStart {
  background-color: #2f80ed60;
  color: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rangeInBetween {
  background-color: #2f80ed10;
  color: #2f80ed;
  border-radius: 0;
}

.weekday {
  font-size: 14px;
  font-weight: 900;
  cursor: default;
  &:hover {
    background-color: white;
  }
}
